{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">VOTRE PANIER</h1>

    <table class="table">
    <thead>
        <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>

    {% if items | length > 0 %}

        {# <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead> #}
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.price | amount }}</td>
                        <td>
                            <a href="{{ path('cart_decrement', {'id': item.product.id}) }}" class="btn btn-sm btn-primary"><i class="fas fa-minus"></i></a> &nbsp;
                            {{ item.qty }} &nbsp;
                            <a href="{{ path('cart_add', {'id': item.product.id}) }}?returnToCart=true" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i></a>
                        </td>
                        <td>{{ item.total | amount }}</td>
                        <td>
                            <a href="{{ path('cart_delete', {'id': item.product.id}) }}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total :</td>
                    <td>{{total | amount}}</td>
                </tr>
            </tfoot>
        </table>
        <hr>

        {% if app.user %}
            <h2>Confirmez votre commande en remplissant ce formulaire</h2>
            {{ form_start(formview, {'action' : path('purchase_confirm')}) }}
            {{form_errors(formview)}}

            {{form_row(formview.fullName, {'value': app.user.firstName ~ ' ' ~ app.user.lastName})}}
            {{form_row(formview.address, {'value': app.user.address})}}
            {{form_row(formview.postalCode, {'value': app.user.postalCode})}}
            {{form_row(formview.city, {'value': app.user.city})}}
            {{form_row(formview.carrier)}}
                <button type="submit" class="btn btn-success">Confirmer la commande</button>
            {{ form_end(formview) }}

        {% else %}
            <h3 class="text-center">Vous devez être connecté pour confirmer votre commande</h3>
            <div class="text-center">
            <a href="{{ path('app_login') }}" class="btn btn-success mt-2 mb-2 text-center">Connexion</a> &nbsp; 
            <a href="{{ path('app_register') }}" class="btn btn-success text-center">Créer un compte</a>
            </div>
        {% endif %}
    {% else %}
    </table>
        <h3 class="text-center mt-2 mb-5">Le panier est vide !</h3>
    {% endif %}
    <div class="row mt-2">
        <div class="col-12 col-md-4 col-lg-4 mt-2 mb-2">
            <div class="card bg-primary text-white text-center">
                <div class="card-body">
                    <i class="fas fa-truck"></i>
                    <p class="card-text">Livraisons gratuites !</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 mt-2 mb-2">
            <div class="card bg-success text-white text-center">
                <div class="card-body">
                    <i class="fas fa-check"></i>
                    <p class="card-text">Produits de qualité !</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 mt-2 mb-2">
            <div class="card bg-info text-white text-center">
                <div class="card-body">
                    <i class="fas fa-lock"></i>
                    <p class="card-text">Paiement securisé !</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
