{% extends 'base.html.twig' %}

{% block javascripts %}<script src="{{ asset('assets/js/showPurchases.js') }}" defer></script>{% endblock %}

{% block title %}Mon compte{% endblock %}

{% block body %}

{% for role in app.user.roles %}
    {% if role == 'ROLE_ADMIN' %}
    <div class="text-center"><a href="{{path('admin')}}" class="btn btn-success">Panneau Administrateur</a></div>       
    {% endif %}
{% endfor %}

<h3 class="mt-4 mb-4 text-center">MES COMMANDES</h3>

<div class="text-center mb-4">
    <div class="text-center btn btn-success myaccount-show-btn">Voir &nbsp; <i class="fas fa-arrow-down"></i></div>
    <div class="text-center btn btn-success myaccount-hide-btn hidden">Voir &nbsp; <i class="fas fa-arrow-up"></i></div>
</div>

<div>
    <table class="table table-striped table-bordered purchase-table hidden">
        <thead>
            <tr>
                <th class="purchase-table-resp2" scope="col">Numéro</th>
                <th class="purchase-table-resp" scope="col">Adresse</th>
                <th class="purchase-table-resp3" scope="col">Date de commande</th>
                <th scope="col">Produits</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for p in purchases %}
                <tr>
                    <td class="purchase-table-resp2">{{ p.id }}</td>
                    <td class="purchase-table-resp">{{ p.address }}<br>{{ p.postalCode }}, {{ p.city }}</td>
                    <td class="purchase-table-resp3">{{ p.purchasedAt | date('d/m/y H:i') }}</td>
                    <td>
                        <ul>
                            {% for item in p.purchaseItems %}
                                <li>{{ item.quantity }}x &nbsp;{{ item.productName }}  {{ item.total | amount }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ p.total | amount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="product-trait mt-5 mb-5"></div>

<h3 class="mt-4 mb-4 text-center">MES INFORMATIONS :</h3>

<div class="row account-info-container mb-5">
    <div class="account-info-subcontainer first">
        <p class="account-info-title">Nom :</p>
        <p class="account-info-text">{{ app.user.firstName }} {{ app.user.lastName }}</p>
    </div>
        <div class="account-info-subcontainer">
        <p class="account-info-title">Adresse Email :</p>
        <p class="account-info-text">{{ app.user.email }}</p>
    </div>
        <div class="account-info-subcontainer">
        <p class="account-info-title">Adresse :</p>
        <p class="account-info-text">{{ app.user.address }}</p>
    </div>
        <div class="account-info-subcontainer">
        <p class="account-info-title">Ville :</p>
        <p class="account-info-text">{{ app.user.city }}</p>
    </div>
        <div class="account-info-subcontainer">
        <p class="account-info-title">Code postal :</p>
        <p class="account-info-text">{{ app.user.postalCode }}</p>
    </div>
        <div class="account-info-subcontainer">
        <p class="account-info-title">Pays :</p>
        <p class="account-info-text">{{ app.user.country }}</p>
    </div>
        <div class="account-info-subcontainer">
        <p class="account-info-title">Numéro de téléphone :</p>
        <p class="account-info-text">{{ app.user.phoneNumber }}</p>
    </div>
</div>

<div class="d-flex text-center justify-content-center gap-5">
    <a class="btn btn-primary" href="{{ path('account_modify', {'id' : app.user.id}) }}">Modifier les informations de mon compte</a>
    <a class="btn btn-primary" href="{{ path('app_forgot_password_request') }}">Modifier le mot de passe de mon compte</a>
</div>


{% endblock %}
