{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/authAndReg.css') }}">
{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="row justify-content-md-center">
        <div class="connexion-card col-md-6 ">
            <h1>Connexion</h1>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="mb-3 auth-form form-control shadow-none" placeholder="Adresse email" autocomplete="email" required autofocus>
            <input type="password" name="password" id="inputPassword" class="auth-form form-control shadow-none" placeholder="Mot de passe" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            <br>
            <div class="agree">
                <button class="auth-button" type="submit"><strong>Se connecter</strong></button>
                <br>
                <a href="{{ path('app_forgot_password_request') }}" class="mt-5 auth-link">Mot de passe oublié ?</a>
                <br>
                <div class="auth-trait"></div>
                <br>
                <p>Vous n'avez pas de compte ?</p>
                <a class="auth-link" href="{{ path('app_register') }}">Inscrivez-vous !</a>
                <br>
            </div>
        </div>
    </div>
</form>
{% endblock %}
