{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block meta_description %}{{ category.name }} - Retrouver tous les articles de notre catalogue concernant les {{ category.name }} {% endblock %}

{% block body %}

<div>
    <h1 class="mt-5">Catégorie : {{ category.name }}</h1>
</div>

<p class="mb-2 mt-5">Trier par :</p>
<div class="d-flex justify-content-start gap-2">
    <a href="{{ path('category_show', {'slug': category.slug, 'sort': '1'}) }}" class="btn btn-primary mr-5">Prix : Croissant &nbsp; <i class="fas fa-sort-up"></i></a>
    <a href="{{ path('category_show', {'slug': category.slug, 'sort': '2'}) }}" class="btn btn-primary mr-2">Prix : Décroissant &nbsp; <i class="fas fa-sort-down"></i></a>
</div>

<div class="row">
{% if app.request.query.get('sort') == 1 %}

    {% for p in products |sort((a, b) => a.price <=> b.price) %}
        {% include "shared/_productCard.html.twig" %}
    {% endfor %}

{% elseif app.request.query.get('sort') == 2 %}

    {% for p in products |sort((a, b) => b.price <=> a.price) %}
        {% include "shared/_productCard.html.twig" %}
    {% endfor %}

{% else %}

    {% for p in products %}
        {% include "shared/_productCard.html.twig" %}
    {% endfor %}

{% endif %}
</div> 

{% endblock %}