{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block meta_description %}{{ product.name }} - Retrouvez la fiche produit pour {{ product.name }}{% endblock %}

{% block body %}

<div class="row mt-5">
    <div class="col-12 col-md-12 col-lg-6">
        <img src="/uploads/pictures/{{ product.picture }}" class="img-fluid border" alt="{{ product.name }}">
    </div>
    <div class="col-12 col-md-12 col-lg-6">
        <h2>{{ product.name }}</h2>
        <div class="product-trait mb-2"></div>
            {% if product.inStock == 1 %}
                <div class="d-flex bd-highlight mb-3">
                    <div class="stock-true p-2 bd-highlight"></div>
                    <p class="p-2 bd-highlight">En stock</p>
                    <p class="ms-auto p-2 bd-highlight">Acheté avant 12h (UTC+2), expedié aujourd'hui !</p>
                </div>
            {% else %}
                <div class="d-flex justify-content-start">
                    <div class="stock-false"></div>
                    <p>Rupture de stock !</p>
                </div>
            {% endif %}
            <p>PRIX :</p>
            <p class="product-price">{{ product.price | amount }}</p>
            <p><i class="fas fa-star"></i> &nbsp; Moyenne des avis : 
            {% if comments is not empty %}
                {% set noteCount = 0 %}
                {% set noteTotal = 0 %}
                {% for comment in comments %}
                    {% set noteTotal = noteTotal + comment.note %}
                    {% set noteCount = noteCount + 1 %}
                {% endfor %}
                {{ (noteTotal / noteCount) |round(1, 'floor') }}
            {% else %}
                pas d'avis
            {% endif %}</p>
            {% if product.inStock == 1 %}
                <a href="{{ path('cart_add', {'id': product.id}) }}" class="btn btn-success product-cart-btn"><i class="fas fa-shopping-cart"></i> &nbsp; AJOUTER AU PANIER</a>
            {% endif %}
    </div>
    <div class="product-trait mt-5 mb-4"></div>
    <h4 class="text-center mb-3">DESCRIPTION</h4>
    <p>{{ product.shortDescription }}</p>
    <div class="product-trait mt-5 mb-4"></div>
</div>

{# Sécurité pour eviter bug #}
{% if app.user is not null %}
    {# compteur de vérif si user a déjà acheté cet article #}
    {% set count = 0 %}
    {% for purchase in app.user.purchases %}
        {% for item in purchase.purchaseItems %}
            {% if item.productName == product.name %}
                {% set count = count + 1 %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    {# Compteur de verif si user a déjà posté un commentaire pour cet article #}
    {% set count2 = 0 %}
    {% for comment in app.user.comments %}
        {% if comment.product.id == product.id %}
            {% set count2 = count2 + 1 %}
        {% endif %}
    {% endfor %}

    {% if count > 0 and count2 == 0 %}
        <h3>Mettez un avis sur l'article que vous avez acheté !</h3>

        {{ form_start(formview) }}
        {{form_errors(formview)}}

        {{form_row(formview.note)}}
        {{form_row(formview.content)}}
            <button type="submit" class="btn btn-success">Poster le commentaire</button>
        {{ form_rest(formview) }}
        {{ form_end(formview) }}
        <div class="product-trait mt-4 mb-4"></div>
    {% endif %}
{% endif %}

{% if comments is not null %}
    {% for comment in comments %}
        <p>{{ comment.fullName }}</p>
        <p>Note : {{ comment.note }}</p>
        <p>Posté le {{ comment.postedAt | date('d/m/y') }}</p>
        <p>{{ comment.content }}</p>
        <div class="comment-trait mt-4 mb-4"></div>
    {% endfor %}
{% endif %}

{% endblock %}